body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.70);
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.section {
    padding: 60px 0;
}

.container {
    width: 1136px;
    margin-right: auto;
    margin-left: auto;
}

/* header */
.logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.03em;
    margin-right: 413px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 32px;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-nav-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-icon-list {
    display: flex;
    gap: 14px;
}

.logo-span {
    color: #111;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.111111;
    letter-spacing: -0.03em;
}

.nav-list-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14285714;
    letter-spacing: -0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #FD9222;
}

.social-icon-header {
    stroke: #111111;
    fill: none;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-header:hover,
.social-icon-header:focus {
    stroke: #FD9222;
}

/* start page */

.start-page {
    padding-bottom: 80px;
}

.start-page-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21428571;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

.container-start-page {
    background-color: rgba(17, 17, 17, 0.60);
    padding: 381px 40px 40px 40px;
    border-radius: 30px;
}

.btn-and-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-buy-now {
    color: #FFF;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    background-color: #FD9222;
    padding: 14px 40px;
    border-radius: 100px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-buy-now:hover,
.btn-buy-now:focus {
    color: #FD9222;
    background-color: #FCF1E0;
}

.btns-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.scroll-container {
    display: flex;
    gap: 14px;
    align-items: center;
    flex-direction: row-reverse;
}

.link-how-its-made {
    color: #FFF;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
    border: 1px solid #FFF;
    border-radius: 100px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-how-its-made:hover,
.link-how-its-made:focus {
    color: #FD9222;
    border: 1px solid #FD9222;
}

.start-page-text {
    color: #FFF;
    font-weight: 500;
    line-height: 1.28571429;
    letter-spacing: -0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-background-start-page {
    border-radius: 50%;
    background-color: #FFF;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-scroll-down {
    fill: #FD9222;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-background-start-page:hover,
.icon-background-start-page:focus {
    background-color: #FD9222;
}

.icon-background-start-page:hover .icon-scroll-down,
.icon-background-start-page:focus .icon-scroll-down {
    fill: white;
}

.icon-background-start-page:hover+.start-page-text,
.icon-background-start-page:focus+.start-page-text {
    color: #FD9222;
}

/* Benefits */
.benefits {
    background-color: #1E1823;
}

.benefits-container {
    padding: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 88px;
}

.benefits-list li {
    width: 308px;
    height: 142px;
}

.benefits-list-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.benefits-list-text {
    color: rgba(255, 255, 255, 0.70);
    line-height: 1.28571429;
    letter-spacing: -0.02em;
}


/* Ingridients */
.ingridients-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.ingridients-title-span {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.ingridients-text {
    color: #111;
    text-align: center;
    line-height: 1.28571429;
    letter-spacing: -0.02em;
}

.ingridients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 486px;
    margin-bottom: 50px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.ingridients-card {
    padding-top: 28px;
    padding-bottom: 28px;
    border-radius: 15px;
    width: 260px;
    height: 270px;
    /* flex-basis: calc((1136px - 128px) / 4); */
}

.ingridients-card img {
    margin-left: 23px;
    margin-right: 23px;
}

.orange-card {
    background-color: #FD9222;
    color: #FFF;
}

.white-card {
    background-color: #FFF;
    color: #111;
    border: 1px solid #FD9222;
}

.dark-card {
    background-color: #1E1823;
    color: #FFF;
}

.ingridients-card-title {
    font-weight: 600;
    line-height: 1.28571429;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 36px;
    padding-left: 28px;
}

/* how its made */
.how-its-made-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.how-its-made-title-span {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.container-how-its-made-block {
    display: flex;
}

.how-its-made-list li:not(:last-child) {
    margin-bottom: 24px;
}

.how-its-made-text-block {
    background-color: #FFF;
    border-radius: 15px;
    padding: 32px;
}

.container-how-its-made-block img {
    margin-right: 20px;
}

.how-its-made-list-title {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33333333;
    margin-bottom: 28px;
}

.how-its-made-list {
    list-style-type: disc;
}

.how-its-made-list-text {
    color: #111;
    line-height: 1.28571429;
    letter-spacing: -0.02em;
}

/* our products */
.products-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.products-title-span {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.products-list {
    display: flex;
    gap: 24px 18px;
    flex-wrap: wrap;
}

.product-card {
    background-color: #FFF;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    padding: 32px 18px;
    flex-basis: calc((100% - 54px) / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-list-title {
    color: #111;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33333333;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-top: 8px;
    text-align: center;
}

.product-list-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    line-height: 1.16666667;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
    text-align: center;
}

.btn-product-list {
    color: #111;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    background-color: #FAFAFA;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    padding: 8px 20px;
}

/* top sellers */

.sellers-title-span {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.sellers-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.sellers-list {
    display: flex;
    gap: 16px;
}

.sellers-card {
    background-color: #FFF;
    flex-basis: calc((100% - 32px) / 3);
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
}

.sellers-card img {
    border-radius: 15px 15px 0 0;
}

.sellers-list-title {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33333333;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding: 28px 0;
    text-align: center;
}

/* Chocolate is loved */
.review-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.review-title-span {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.review-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16666667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.review-list {
    display: flex;
    gap: 28px;
}

.review-card {
    background-color: #FFF;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
    flex-basis: calc((100% - 56px)/ 3);
}

.position-card-block {
    position: relative;
    top: -44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-list-title {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33333333;
    margin-top: 18px;
}

.review-list-text {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    line-height: 1.28571429;
    letter-spacing: -0.02em;
    padding: 24px;
    position: relative;
    top: -28px;
}

.btn-review {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FD9222;
    background-color: #FAFAFA;
}

/* footer */
.footer-page {
    background-color: #1E1823;
}

.footer-container {
    padding-left: 32px;
    padding-right: 32px;
}

.footer-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21428571;
    letter-spacing: -0.02em;
}

.footer-title-span {
    color: #FD9222;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21428571;
    letter-spacing: -0.02em;
}

.footer-upper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 54px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
}

.social-list {
    display: flex;
    gap: 14px;
}

.links-block {
    display: flex;

}

.social-container {
    margin-right: 50px;
}

.address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.social-list-title {
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.28571429;
    margin-bottom: 14px;
}

.social-icon-footer {
    stroke: white;
    fill: none;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    stroke: #FD9222;
}

.contacts-list-title {
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.28571429;
    margin-bottom: 14px;
}

.contacts-link {
    color: #FFF;
    text-align: center;
    line-height: 1.28571429;
    letter-spacing: -0.02em;
    font-style: normal;
}

.footer-nav-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-lower-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 50px;
}

.footer-nav-list-link {
    color: #FFF;
    font-weight: 500;
    line-height: 1.14285714;
    letter-spacing: -0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-list-link:hover,
.footer-nav-list-link:focus {
    color: #FD9222;
}

.input-email::placeholder {
    color: rgba(255, 255, 255, 0.30);
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.02em;
}

.input-email {
    background-color: #1E1823;
    border-radius: 100px;
    padding: 14px 24px;
    width: 313px;
    margin-right: 8px;
}

.input-email[type="text"] {
    color: #FFF;
}

.btn-footer {
    color: #FFF;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    background-color: #FD9222;
    padding: 17px 40px;
    border-radius: 100px;
}